<div class="row flex-items-xs-center">
    <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                Authentication
            </div>
            <div class="card-block">
                <div class="card-text">
                    <form>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="pass">Password</label>
                            <input type="password" id="pass" placeholder="Password">
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Login</button>
            </div>
        </div>
    </div>
</div>
<div class="row flex-items-xs-center" style="margin:16px;">
    <button class="btn btn-sm btn-link">Forgot Password?</button>
    <button class="btn btn-sm btn-link">Contact us</button>
</div>
